body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    width: 80%;
    max-width: 960px;
    margin: 20px auto;
    background-color: #ffffffee;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.agreement-text {
    white-space: pre-line; /* Позволяет сохранять переводы строк */
    overflow-wrap: break-word; /* Разрывает длинные слова */
}

.agreement-text p {
    margin-bottom: 15px;
}

strong {
    font-weight: bold;
}

.button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

/* Футер */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0; /* Уменьшили верхний и нижний отступы */
    text-align: center;
}

.container-footer {
    display: flex;
    flex-wrap: wrap; /* Разрешает элементы в строке занимать всю ширину */
    justify-content: space-between; /* Разделяет элементы равномерно */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding:  20px;
}


.social {
    margin-bottom: 10px; /* Отступ между блоками */
    text-align: center;
}


.social a {
    margin: 0 10px;
}

.social img {
    width: 30px; /* Или другой размер, если нужно */
}

.social i {
    font-size: 30px;
    margin: 0 10px;
    color: #fff;
    transition: color 0.3s;
}
.social i:hover {
    color: #c346e9;
}

.footer-links {
    flex: 1; /* Занимает оставшееся пространство */
    margin-bottom: 10px;
}


.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /*  Выравнивание по центру */
}


.footer-links li {
    margin: 0 10px;
}

.footer-links a.active {
    text-decoration: none;
    color: #eee;
    transition: color 0.3s;
}
.footer-links a:hover {
    color: #c346e9;
}

.footer-links a.later {
    color:rgba(0, 0, 0, 0);
    cursor: default;
}

li.caboo {
    padding-left: 50px;
}

.copyright {
    text-align: center;
    padding-top: 10px; /* Отступ сверху*/
}

.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 60px;
    width: 50px; /* Устанавливаем ширину кнопки */
    height: 50px; /* Устанавливаем высоту кнопки */
    background-color: #525252;
    color: white;
    border: none;
    border-radius: 50%; /* Делаем кнопку круглой */
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex; /* Делаем кнопку flex-контейнером */
    align-items: center; /* Выравниваем символ по вертикали */
    justify-content: center; /* Выравниваем символ по горизонтали */
    font-size: 25px; /* Размер стрелочки */
}

.scroll-button:hover {
    background-color: #2e2e2e;
}